<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="art-template.js"></script>
  </head>
  <body>
    Hello JSON
  </body>
  <script type="text/html" id="javaListTemplate">
    List<{{if type.toLowerCase() == 'array'}}{{include 'javaListTemplate' item}}{{else}}{{type}}{{/if}}>
  </script>
  <script type="text/html" id="javaObjectTemplate">
    public class {{name}} {{if superClass}}extends {{superClass}}{{/if}} {
        {{each properties}}
        {{if $value.type.toLowerCase() == 'object'}}
        {{include 'javaObjectTemplate' $value}}
        private {{$index[0].toUpperCase() + $index.slice(1)}} {{$index}};
        {{else if $value.type.toLowerCase() == 'array'}}
        {{if $value.item.type.toLowerCase() == 'object'}}
        {{include 'javaObjectTemplate' $value.item}}
        private List<{{$value.item.name}}> {{$index}};
        {{else}}
        private {{include 'javaListTemplate' $value.item}} {{$index}};
        {{/if}}
        {{else}}
        private {{$value.type}} {{$index}};
        {{/if}}
        {{/each}}
        {{each properties}}
        public void set{{$index[0].toUpperCase() + $index.slice(1)}}({{$value.type}} {{$index}}) {
          this.{{$index}} = {{$index}};
        }

        public {{if $value.type.toLowerCase() == 'object'}}{{$index[0].toUpperCase() + $index.slice(1)}}{{else}}{{$value.type}}{{/if}} get{{firstUpperProperties}}() {
          return this.{{$index}};
        }
        {{/each}}
    }
  </script>
  <script type="text/html" id="javaTemplate">
    {{if java.package != ''}}
    package {{java.packageName}};
    {{/if}}
    {{each java.importClass}}
    import {{$value}};
    {{/each}}{{include 'javaObjectTemplate' this}}
  </script>
  <script type="text/javascript">
    const Type = {
      Object: "object",
      String: "string",
      Integer: "integer",
      Boolean: "boolean",
      Array: "array",
    };

    var data = {
      java: {
        packageName: "com.tinkers",
        importClass: [
          "com.tinkers.common.http.TKReq",
          "com.tinkers.common.tk.TKReq",
        ],
      },
      name: "AccountReq",
      superClass: "TKReq",
      type: "Object",
      properties: {
        data: {
          name: "Data",
          type: "Object",
          properties: {
            total: {
              type: "Integer",
            },
            roles: {
              type: "Array",
              item: {
                type: "Integer",
              },
            },
            menus: {
              type: "Array",
              item: {
                type: "Array",
                item: {
                  type: "String",
                },
              },
            },
            accounts: {
              type: "Array",
              item: {
                name: "Account",
                type: "Object",
                properties: {
                  accountId: {
                    type: "Integer",
                  },
                  age: {
                    type: "Integer",
                  },
                  name: {
                    type: "String",
                  },
                  sex: {
                    type: "Boolean",
                  },
                },
              },
            },
          },
        },
      },
    };

    window.onload = function() {
      var html = template("javaTemplate", data);
      console.log(html);
    };
  </script>
</html>
